<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="static/style/body.css">
    <link rel="stylesheet" href="static/style/menu.css">
    <link rel="stylesheet" href="static/style/profile.css">
</head>
<body>
{% block content %}
<div class="card">	
    <div class="card_base"></div>
    <img class="card_face" src="{{ url_for('userava') }}">
    <div class="user_data">
		<h3>{{ current_user.getName() }}</h3>
    </div>
    <div class="email">
        <h3>{{ current_user.getEmail() }}</h3>
    </div>
</div>
{% endblock %}
<div class="dropdown">
    <button class="dropbtn">Меню</button>
    <div class="dropdown-content">
        <a href="profile">Мой профиль</a>
		<a href="settings">Настройки</a>
        <a href="quiz_list">Список викторин</a>
        <a href="quiz_multiplayer">Мультиплеер</a>
        <a href="create_quiz">Создать викторину</a>
        <a href="logout">Выйти из аккаунта</a>
    </div>
  </div>
</body>
</html>