<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список викторин</title>
    <link rel="stylesheet" href="static/style/body.css">
    <link rel="stylesheet" href="static/style/menu.css">
    <link rel="stylesheet" href="static/style/quiz_list.css">
</head>
<body>
{% block content %}
<div class="card">
    {% for el in quiz_list %}
    <h3>{{ el[1] }}</h3>
    <div>{{ el[2] }}</div>
    <form action="quiz/{{ el[0] }}">
        <button href="quiz/{{ el[0] }}" class="btn">Играть</button>
    </form>
    {% endfor %}
</div>
{% endblock %}
<div class="dropdown">
    <button class="dropbtn">Меню</button>
    <div class="dropdown-content">
        <a href="/profile">Мой профиль</a>
		<a href="/settings">Настройки</a>
        <a href="/quiz_list">Список викторин</a>
        <a href="/quiz_multiplayer">Мультиплеер</a>
        <a href="/create_quiz">Создать викторину</a>
        <a href="/logout">Выйти из аккаунта</a>
    </div>
  </div>
</body>
</html>